.register-btn {
    margin: 0px 0px 5px 0px;
    width: 220px;
    text-decoration: none;
    color: black;
    height: 3em;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}
.register-btn:hover {
    transform: scale(1.20);
    transition: 0.4s ease-out;
}