body {
    background-image: url(https://groupomania.stephane-chimy.com/static/media/icon.500ae8c5.png);
    background-size: 1%;
}
button {
    border: 0px;
}
#center-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border-radius: 1em;
    width: 480px;
    margin: 10px 50px 10px 0px;
    gap: 30px;
}
#files {
    height: 100%;
}
.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.topbar a {
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    margin: 20px;
    transition: 0.5s;
    color: black;
}
.topbar a:hover {
    color: brown;
}
.comments-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
#header_logo {
    max-height: 40px;
}
.comment_box {
    resize: none;
    width: 45%;
    height: 20%;
}
.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: bisque;
    margin: 0px 40% 0% 40%;
    padding: 50px;
    border-radius: 3em;
}
.field {
    margin: 0px 17%;
}
img {
    max-width: 100%;
}
.delete-btn {
    width: 100%;
    margin-top: 20px;
    height: 60px;
    background-color: white;
    font: 800;
    color: red;
    cursor: pointer;
    border-radius: 2em;
    transition: 0.5s linear;
}
.delete-btn:hover {
    transform: scale(1.2);
    font-size: larger;
    color: white;
    background-color: red;
    border-radius: 0;
}
@media only screen and (max-width: 600px) {
    
    body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%
}
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border-radius: 1em;
    max-width: 95%;
    margin: 10px 6px 10px 0px;
    gap: 30px;
}
.topbar {
    flex-direction: column;
    gap: 30px;
}
.topbar a {
    margin: 0px 15px 0px 15px;
}
}