* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#flex-column {
    display: flex;
    flex-direction: column;
}
h1 {
    font-weight: 850;
    color: darkseagreen;
}
.cover{
    background-color: floralwhite;
    background-image: url(https://groupomania.stephane-chimy.com/static/media/icon.500ae8c5.png);
    background-position: 0px 130px;
    width: 30em;
    height: 35em;
    margin-left: 37.4%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.28em 1.550em darkseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
input {
    border: none;
    background-color: burlywood;
    height: 4em;
    width: 220px;
    border-radius: 0.25em;
    text-align: center;
}
input:focus{
    outline-color: darkseagreen;
}

.redirect_button {
    margin: 20px 0px 5px 0px;
    width: 220px;
    text-decoration: none;
    color: black;
    height: 3em;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}
.redirect_button:hover {
    transform: scale(1.20);
    transition: 0.7s ease-in;
}